---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="w-full">
	<div class="bg-sectionLight text-white text-lg p-4 rounded hover:bg-blue-400 text-center" style="font-family: poppinsMedium">
		<span>
			{title}
			<!-- <span>&rarr;</span> -->
		</span>
	</div>
</a>